html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
#camera--container {
  display: flex;
  /*flex-direction: column;
  justify-content: center;*/
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: solid 3px darkgrey;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#camera--display {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 550px;
}
#camera--sensor {
  z-index: 0
}
#camera--view {
  z-index: 1
}
#camera--view, #camera--sensor, #camera--output {
  /*display: flex;*/
  position: absolute;
  max-height: 300px;
  max-width: 500px;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  margin-left: auto;
  margin-right: auto;
}
#camera--output.taken {
  display: flex;
  position: relative;
  margin-top: 10px;
  top: 10px;
  right: 10px;
  height: 150px!important;
  width: 150px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  /*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);*/
  z-index: 2;
}
#button--container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#button {
  margin-left: 5px;
  margin-right: 5px;
}
#camera--trigger, #camera--upload {
  width: 220px;
  background-color: #F28E16;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#camera--trigger:hover, #camera--upload:hover {
    background-color: #ce7810;
    color: white;
}

#hidden_button {
  position: relative;
  overflow: hidden;
  height: 0;
}
