html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera--container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#camera--display{
  height: 300px;
  width: 500px;
}
#camera--view, #camera--sensor, #camera--output {
  position: fixed;
  max-height: 300px;
  max-width: 500px;
  position: fixed;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}
#button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#camera--trigger, #camera--upload {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}
.taken {
    height: 150px!important;
    width: 150px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}
