html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: solid 3px darkgrey;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#camera--display{
  display: flex;
  justify-content: flex-end;
  height: 300px;
  width: 500px;
}
#camera--view, #camera--sensor, #camera--output {
  position: fixed;
  max-height: 300px;
  max-width: 500px;
  position: fixed;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}
#camera--output.taken {
  position: relative;
  height: 100px;
  width: 100px;
  top: 10px;
  right: 10px;
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  z-index: 2;
}
#button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#button {
  margin-left: 5px;
  margin-right: 5px;
}
#camera--trigger, #camera--upload {
  width: 200px;
  background-color: #F28E16;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#camera--trigger:hover, #camera--upload:hover {
    background-color: #ce7810;
    color: white;
}
